.faq li{
    list-style: none;
    width: 100%; 
    padding-top: 8px;
    padding-bottom: 8px;
}

.faq .oklist{
    width: 100%; 
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7) !important;
    transition: 0.5s;
}

.faq li label{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}
.faq li label:hover{
    color: black;
    transition: 0.5s;
}

.faq li label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: black;
}
.faq input[type="checkbox"]{
    display: none;
}
.faq .content p{
    color: #292828;
    line-height: 20px;
    margin: 0 10px;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.faq input[type="checkbox"]:checked + label + .content p{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.faq input[type="checkbox"]:checked + label::before{
    content: '-';
}


