.pSidenav {
  min-height: 70vh;
  width: 250px;
  position: relative;  
  top: 0;
  left: 0;
  background-color: #87CEFA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 1;
}

.pSidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.pSidenav a:hover {
  color: #000;
  background-color: #fff;
}

#toggleSymble {
  position: relative;
  top: -18px;
  left: -18px;
  font-size: 36px;
}

#Pmain {
  transition: margin-left .5s;
  padding: 16px;
}

#Pmain span{
  font-size:30px;
  cursor:pointer;
  transition: 0.5s;
}
#pmainContent{
  margin-top: -20px;
}
#pmainContent img{
  height:150px;
  width:150px;
  object-fit:cover;
  border-radius: 50%;  
}